* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.forgot-password-container {
  display: flex;
  width: 900px;
    height: 500px;
  max-width: none; 
  margin: auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
}


.left-panel {
  width: 100%;
  background-color: #a07926;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right-panel {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


  
  .login-section {
    width: 50%;
    padding: 40px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


  .logo {
    width: 80px;
    height: 80px;
    background: url('../assets/logo.png') no-repeat center/contain;
    margin-bottom: 20px;
}

  
 
  
  .back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border: 1px solid #000;
    background: #fff;
    cursor: pointer;
  }
  
  .form-section {
    text-align: center;
  }
  
  .input-field {
    padding: 10px;
    margin: 20px 0;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .reset-button {
    background: #815B10;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 267px;
    height: 42px;
    font-family: "Montserrat";
    border-radius: 15px;
    align-items: center;
  }
  
  .reset-button:hover {
    background-color: #8a651f;
  }
  
  